* {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 30px auto;
}

/* header */
.header_container {
	display: flex;
	flex-grow: 1;
 	align-items: center;
  	justify-content: space-between;
}

.header_container .logo {
	font-weight: 600;
	font-size: large;
	color: #F44747;
	text-decoration: none;
}
.header_container .logo:hover {
	color: black;
	-webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/* header -end */

/* navbar */
header .nav_links {
    display: flex;
    padding-right: 100px;
    list-style: none;
}
nav a {
    padding: 15px 0px;
	margin: 0 20px;

    text-decoration: none;
    color: #F44747;
}
nav a:hover {
	color: black;
	-webkit-transition-duration: 1s;
    transition-duration: 1s;
}
/* navbar -end */


/* footer */

footer {
	text-align: center;
	margin: 50px 0;
	padding: 50px 0;
}
/* footer -end */